<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @grocery_list_item, partial: "card", as: :grocery_list_item %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
